.dataContainer {
  margin: 40px 20px 20px 20px;
  /*text-align: center;*/
  /*line-height: 18px;*/
  /*  c*/
  float: right;
  color: #555;
  position: relative;
  z-index: 1000;
}

.dataContainer i {
  width: 18px;
  height: 18px;
  float: right;
  margin-right: 8px;
  opacity: 0.7;
}

.dataContainer {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
}
